.titulo h1{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    left: 20%;
    white-space:nowrap;
}
.titulo{
    background-color:aliceblue;
    margin: 0%;
    padding: 5%;
}
#Mapa{
    left:auto;
    width: 1200px;
    height:600px;
    position:relative;
    margin: 120px;
    justify-content: center;
    left:15%;
}

body{
    background-color: rgb(209, 209, 247);
}